html, body {
  height: 100%;        /* Ensure both html and body take full height */
  margin: 0;           /* Remove any default margin */
  padding: 0;
  background-color: #0f1214;          /* Remove any default padding */
  color: white;
}

#root {
  height: 100%;        /* Ensure the #root div fills the entire height */
}